<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gato,palabrasparabusqueda">
    <meta name="description" content="página de gatito">
    <link rel="shortcut icon" href="/multimedia/icon_gato.ico" type="image/x-icon">

    <title>Kitty's House</title>

</head>
<body>
    <header>
        <nav style="background-color:grey;">
        <a href="../index.html">Home</a>
        <a href="/template/acerca.html">Nosotros</a>
        <a href="/template/galeria.html">Galería</a>
        <a href="/template/internacionales.html">Internacional</a> 
        <a href="/template/registro.html">Registro</a>  
        <a href="/template/contacto.html">Contacto</a>    
        </nav>
        <nav style="background-color:rgba(245, 129, 220, 0.158);">
        <h1 style="text-align: center;"><u>Acerca de <b>Kitty's House</b></u></h1>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h3>¡Bienvenidos a nuestra página web sobre gatitos!</h3>
            </div>
            <div>
                <p>Te contaremos todo lo que necesitas saber sobre estos adorables felinos de patitas suaves. Nuestro objetivo es compartir información divertida y educativa para que puedas conocer a fondo el mundo de los gatitos. En nuestra página, encontrarás artículos informativos sobre diferentes razas de gatos, sus características, cuidados y curiosidades. También compartiremos consejos útiles para aquellos que tienen o desean tener un gatito como compañero de vida.
                Además, te mantendremos al día con las últimas tendencias en productos para gatos, desde juguetes interactivos hasta camas cómodas y saludables opciones de alimentación. Queremos ayudarte a consentir a tu minino de la mejor manera posible. 
                </p>
                <p>No olvides visitar nuestra <a href="/template/galeria.html">sección de fotos y videos adorables</a> , donde podrás disfrutar de momentos tiernos y divertidos protagonizados por estos peluditos encantadores. Y si tienes alguna pregunta o necesitas algún consejo específico, no dudes en contactarnos. </p>
                <p>¡Esperamos que disfrutes explorando nuestra <a href="../index.html">página web</a> dedicada a los gatitos tanto como nosotros disfrutamos creándola! Comparte este sitio con tus amigos amantes de los felinos para que también puedan sumergirse en el mundo mágico de los gatos. 
                <strong>¡Diviértete descubriendo todo sobre estos maravillosos compañeros peludos!</strong></p><br>
            </div>
        </section>
        <section>
            <div>
                <h3>Visitanos en:</h3>       
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105115.29312542989!2d-58.569727302734364!3d-34.582588199999975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb581fe35595f%3A0x801e76c3f778715e!2sJard%C3%ADn%20Bot%C3%A1nico%20Carlos%20Thays!5e0!3m2!1ses!2sar!4v1692061640796!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>
    <footer>
        <p style="background-color:grey;" align="center">Derechos reservados @2020</p>
    </footer>
    
</body>
</html>


