<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gato,palabrasparabusqueda">
    <meta name="description" content="página de gatito">
    <link rel="shortcut icon" href="/multimedia/icon_gato.ico" type="image/x-icon">
    <title>Kitty's House</title>
</head>
<body>
    <nav style="background-color:rgb(206, 202, 202);">
        <a href="../index.html">Home</a>
        <a href="/template/acerca.html">Nosotros</a>
        <a href="/template/galeria.html">Galería</a>
        <a href="/template/internacionales.html">Internacional</a> 
        <a href="/template/registro.html">Registro</a>  
        <a href="/template/contacto.html">Contacto</a>    
        </nav>
        <nav style="background-color:rgba(245, 129, 220, 0.158);">
        <h1 style="text-align: center;"><u>Contacto con <b>Kitty's House</b></u></h1>
        </nav>
    <main>
        <section>
            <div>
                <p><strong>Si deseas contactarte con nosotros</strong> para hablar sobre los gatos más adorables del planeta, 
                    envíanos un correo electrónico a <a href="mailto:kittyshouse@fake.com.ar">kittyshouse@fake.com.ar</a><br>
                    Estaremos encantados de escuchar tus historias felinas y responder a tus preguntas</p>
            </div>
            <div>

            </div>
        </section>
        <section>
            <div>
                <h3>sdfsdfsdf</h3>       
            </div>
            <div>
            </div>
        </section>        

    </main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <p style="background-color:rgb(206, 202, 202);" align="center">Derechos reservados @2020</p>
    </footer>
    
    
</body>
</html>