<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gato,palabrasparabusqueda">
    <meta name="description" content="página de gatito">
    <link rel="shortcut icon" href="/multimedia/icon_gato.ico" type="image/x-icon">
    <title>Kitty's House</title>
</head>
<body>
    <nav style="background-color:rgb(206, 202, 202);">
        <a href="../index.html">Home</a>
        <a href="/template/acerca.html">Nosotros</a>
        <a href="/template/galeria.html">Galería</a>
        <a href="/template/internacionales.html">Internacional</a> 
        <a href="/template/registro.html">Registro</a>  
        <a href="/template/contacto.html">Contacto</a>    
        </nav>
        <nav style="background-color:rgba(245, 129, 220, 0.158);">
        <h1 style="text-align: center;"><u>Galería de <b>Kitty's House</b></u></h1>
        </nav>
    <main>
        <section>
            <div>
                <h3>Acompañanos a disfrutar del contenido mas tierno</h3>
            </div>
            <div>
                <img src="../multimedia/1.jpg" alt="Gato1">
                <img src="../multimedia/2.jpg" alt="Gato2">
                <img src="../multimedia/3.jpg" alt="Gato3">
                <img src="../multimedia/4.jpg" alt="Gato4">             
            </div>
            <div>
                <img src="../multimedia/9.jpg" alt="Gato9">
                <img src="../multimedia/6.jpg" alt="Gato6">
                <img src="../multimedia/7.jpg" alt="Gato7">
                <img src="../multimedia/8.jpg" alt="Gato8">             
            </div>
            <br><br>
        </section>
        <section>
            <div>
                <h3>¡Y de los videos mas entretenidos!</h3>
            </div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/u0XHVssfsYM?clip=UgkxlS6OUj9f5fp6n7bnl0Ks0DYjcwppFpoi&amp;clipt=ENquAhidvAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div>
            </div>
        </section>        

    </main>
    <footer>
        <p style="background-color:rgb(206, 202, 202);" align="center">Derechos reservados @2020</p>
    </footer>
    
    
</body>
</html>