<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gato,palabrasparabusqueda">
    <meta name="description" content="página de gatito">
    <link rel="shortcut icon" href="/multimedia/icon_gato.ico" type="image/x-icon">
    <title>Kitty's House</title>
</head>

<body>
    <nav style="background-color:rgb(206, 202, 202);">
        <a href="../index.html">Home</a>
        <a href="/template/acerca.html">Nosotros</a>
        <a href="/template/galeria.html">Galería</a>
        <a href="/template/internacionales.html">Internacional</a>
        <a href="/template/registro.html">Registro</a>
        <a href="/template/contacto.html">Contacto</a>
    </nav>
    <nav style="background-color:rgba(245, 129, 220, 0.158);">
        <h1 style="text-align: center;"><u>Gatitos internacionales de <b>Kitty's House</b></u></h1>
    </nav>
    <main>
        <section>
            <div>
                <br>
                <h3>Algunos mininos en el mundo</h3>
                <br>
            </div>
            <div>
                <table border="2">
                    <tr>
                        <th width="150" height="40">Nombre</th>
                        <th width="150" height="30">Raza</th>
                        <th width="150" height="30">País</th>
                        <th width="300" height="30">Características</th>
                    </tr>
                    <tr height="3">
                        <td>Alex</td>
                        <td>Maine Coon</td>
                        <td>Estados Unidos</td>
                        <td>Tamaño grande y pelo largo</td>
                    </tr>
                    <tr height="35">
                        <td>Stacy</td>
                        <td>Siamese</td>
                        <td>Tailandia</td>
                        <td>Ojos azules y pelaje corto</td>
                    </tr>
                    <tr height="35">
                        <td>Amber</td>
                        <td>Persian</td>
                        <td>Irán</td>
                        <td>Pelaje largo y suave</td>
                    </tr>
                    <tr height="35">
                        <td>Andrew</td>
                        <td>Sphynx</td>
                        <td>Canadá</td>
                        <td>Sin pelo y arrugas en la piel</td>
                    </tr>
                    <tr height="35">
                        <td>Fenix</td>
                        <td>Bengal</td>
                        <td>Estados Unidos</td>
                        <td>Pelaje manchado y aspecto salvaje</td>
                    </tr>

                </table>
            </div>
        </section>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </main>
    <footer>
        <p style="background-color:rgb(206, 202, 202);" align="center">Derechos reservados @2020</p>
    </footer>


</body>

</html>